:root {
  --main-text-color: #757575;
  --main-bg-color: #ffffff;
  --accent-color: #2196f3;
  --main-title-color: #212121;
}
body {
  font-family: 'Roboto', sans-serif;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  color: #757575;
  margin-bottom: 0;
}
h3 {
  font-size: 700;
  color: #212121;
  margin-bottom: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
address {
  font-style: normal;
}
h2{
  color:var(--main-bg-color);
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.logo {
  display: block;
  margin-right: 93px;
  padding-bottom: 32px 0;
  font-family: 'Raleway', normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-title-color);
}
.logo-web {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  font-family: 'Raleway', normal;
}
.logo-st {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  font-family: 'Raleway', normal;
  color: var(--main-bg-color);
}
.logo-list-title {
  font-weight: 500;
  font-size: 14px;
  line-height: ;
  color: var(--main-text-color);
}
.logo-booton{
  margin-top: 20px;
}
.logo-booton-adress{
  margin-top: 20px;
}
.footer{
  align-items: baseline;
}
.footer-contacts {
  color: var(--main-text-color);
  background: #2f303a;
}
.footer-section {
  align-items: baseline;
display: flex;
}
.contacts {
  box-sizing: border-box;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
}
.contacts:hover {
  color: var(--main-text-color);
}
.contacts:focus {
  color: var(--main-bg-color);
}
.contacts-address {
  font-size: 14pxg
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-bg-color);
}
.contacts-link {
  display: flex;
  margin-left: auto;
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.contacts-link:hover,.contacts-link:focus {
  color: var(--accent-color);
  
}
.contacts-link .contacts-icon:hover{
  color: var(--accent-color)
}
.contacts-link-top{
  display: flex;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.contacts-link-top:hover{
color: var(--accent-color);
}
.contacts-link-top{
  width: 16px;
  height: 12px;
  display: block;
  margin-left:10px;
  display: inline-flex;
  justify-content:start;

}
.contacts-tel{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.contacts-tel:hover{
  color: var(--accent-color);
}
.contacts-tel-top{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.contacts-tel-top:hover{
  color: var(--accent-color);
}
.contacts-tel-top{
  content: "";
  width: 20px;
  height: 20px;
  display: inline-flex;

}
.contacts-top {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.contacts-item {
  margin-right: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.contacts-item:not(:last-child){
  margin-right: 50px;}
.header {
  display: flex;
  border-bottom: 1px solid #ececec;
}
.contacts-icon{
  margin-right: 10px;
}
.header-contacts {
  margin-left: auto;
}
.header-container {
  display: flex;
  align-items: center;
}
.solution-col {
  max-width: 1600px;
  padding: 200px 0;
  border-color: rgba(47, 48, 58, 0.4);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.1),
      rgba(47, 48, 58, 0.1)
    ),
    url(../images/overlay.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.solution {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-top: 200px;
  color: #ffffff;
  margin-bottom: 30px;
  color: var(--main-bg-color);
}

.footer-contacts {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 1628px;
}
.features {
  display: flex;
  justify-content: center;
}
.features-title:not(:last-child) {
  margin-right: 30px;
}
.features-title{
  display: inline-block;
  height: 120px;
  line-height: 1.7;
  color: var(--main-title-color);
  background-color:rgba(245, 244, 250, 1);
  margin-bottom: 30px;
}
.features-item {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--main-title-color);
}
.features-text {
  display: inline-block;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.features-icon{
  background-color: #f5f4fa;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features-icon::not(:last-child){
  margin-right: 30px;
}
.work-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--main-title-color);
}
.works-main {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
.work-section {
  margin-top: 94px;
  padding-top: 0px;
}
.work-list {
  display: flex;
}
.works-item:not(:last-child) {
  margin-right: 30px;
}
.team {  
display: flex;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-item {
  flex-basis: calc((100% - 90px) / 4);
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

}
.team-our {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--main-title-color);
}
.team-title {
  color: var(--main-title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}
.card-text {
  margin-top: 20px;
}
.team-text {
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.18;
}
.team-section {
  background: #f5f4fa;
}
.team-title-text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}
.nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.nav-menu {
  display: flex;
  align-items: center;
}
.nav-list {
  latter-spacing: 0.03em;
}
.nav-list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.14;
  color: var(--accent-color);
}
.nav-list-title {
  display: block;
  font-weight: 500;
  padding: 32px 0;
  font-size: 14px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.nav-list-title:hover,.nav-list-title:focus {
  color: var(--accent-color);
}
.nav-list-title.current {
  color: var(--accent-color);
}
.btn {
  display: flex;
  margin: auto;
  text-align: center;
  position: center;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border-radius: 4px;
  background-color: #2196f3;
  color: white;
  text-decoration: none;
  border-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
}
.btn:hover {
  background-color: var(--accent-color);
}

.nav-button-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-transform: none;
  outline: none;
  border: navajowhite;
  padding: 6px 22px;
  cursor: pointer;
  border-radius: 4px;
  background: #f5f4fa;
}
.nav-button-item:hover{
  background-color: var(--accent-color);
  color: var(--main-bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
}
.nav-button-item:focus{
background-color: var(--accent-color);
  color: var(--main-bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
}
.nav-title:not(:last-child) {
  margin-right: 8px;
}
.nav-cont{
  display: flex;
  margin-left: auto;
  list-style: none;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.nav-cont .site-nav-item+ .site-nav-itemf {
  margin-left: 30px;
}
.nav-contact {
  display: flex;
  color: var(--secondary-text-color);
  text-decoration: none;
}
}
.site-nav-item {
  display: flex;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.site-nav-item:not(:last-child) {
  margin-right: 50px;
}
.site-nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.project {
  margin-bottom: 94px;
  margin-left: -30px;
  margin-top: -30px;
  display: flex;
  flex-wrap: wrap;
}
.project .project-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
}
.project-link:hover, .project-link:focus{
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.item {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  margin-bottom: 4px;
}

.item * {
  outline: solid #757575;
}
.text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.footer {
  background: #2f303a;
  padding: 60px 0;
}
.customers{
  

}
.customers-title{
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--main-title-color);
}
.sotial-item{
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.sotial-item:not(:last-child){
  margin-right: 10px;
}
.customers-icon{
justify-self: center;
}
.customers-icon:hover, .customers-icon:focus{
  border: var(--accent-color) ;
  color: var(--accent-color);
}
.customers-list{
  
}
.sotial-item:last-child{
   margin-right: 10px;
}
.sotial-link{
  color: rgba(175, 177, 184, 1);
  width: 100%;
  height: 100%;
  background:var(--main-bg-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sotial-link:hover, .sotial-link:focus {
     background-color: var(--accent-color);
    
}
.sotial-icon{
fill:currentColor;
}
.sotial-link:hover, .sotial-link:focus{
  fill: var(--accent-color);
  color: var(--main-bg-color);

}
.sotial-link{
  width: 100%;
  height: 100%;
  background-color: var(--main-bg-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(175, 177, 184, 1);
  padding-top: 10px;
}
.sotial-link:

.social-list{
  display: flex;
  justify-content: center;
}
.team-sotial {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.customers-list{
list-style: none;
display: flex;
}
.customers-item{
  width: 170px;
  height: 92px;
}
.customers-item:not(:last-child){
   margin-right: 30px;
}
.customers-link{
  fill: var(--main-text-color);
}
.customers-link{
  width: 100%;
  height: 100%;
  display: flex;
  color: var(--main-text-color);
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
box-sizing: border-box;
}
.customers-link:hover,.customers-link:focus{
  border-color: var(--accent-color) ;
  color: var(--accent-color);
}

.icon{
  margin-right: 10px;
}
.customers-icon{
   fill:currentColor;
}
.join{
  margin-left: 70px;
}
.join-item{
width: 44px;
height: 44px;
}
.join-item:last-child{
  margin-right: 10px;
}

.join-link:hover, .join-link:focus{
  fill: #2196f3;
}
.join-link{
height: 100%;
background-color: rgba(255, 255, 255, 0.1);
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}
.join-list{
 display: flex;
}
.join-icon{
fill: currentColor;
}
.join-icon:hover, .join-link:focus{
  background-color: var(--accent-color);
}
.join-icon{
width: 20px;
height: 20px;

}
.join-icon{
fill: currentColor;
}
.join-link:hover, .join-link:focus{
background-color: var(--accent-color);
color: #ffffff ;
}
.join-link{
  fill: currentColor;
}
.join-link{
  color: rgba(175, 177, 184, 1);
  border-radius: 50%;
}

.join-p{
margin-bottom: 20px;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.contact-icon{
  margin-right: 10px;
  fill: currentColor;
}